.emptyContainer {
  min-height: 78vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emptyImage {
  width: 75%;
  border-radius: 50px;
}
.emptyContent {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.emptyDetail {
  text-align: justify;
  text-justify: inter-word;
}
.emptyTitle {
  color: rgb(0, 81, 255);
}
.imageGridEmpty {
  display: flex;
  justify-content: center;
}
