.blogPostDiv {
  min-height: 77vh;
  margin: 10px 30px 0;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.iamgeDiv {
  display: flex;
  justify-content: center;
}

.image {
  border-radius: 20px;
}

.content {
  text-align: justify;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.source {
  padding-left: 20px;
  padding-right: 20px;
  text-align: end;
}

.published {
  padding-left: 20px;
  padding-right: 20px;
}
.premium {
  color: red;
}
.buttonDiv {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.signInButton {
  background: linear-gradient(45deg, #298155ce 30%, #298155 90%);
  width: auto;
}

.signOutButton {
  background: linear-gradient(45deg, #da29298c 30%, #da2929ce 90%);
  width: auto;
}
